@model List<Brosur>
@{
    ViewData["Title"] = "Market Broşürü";
}


<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <!-- Single Catagory -->
        @foreach (var brand in Model)
        {
            foreach (var campaign in brand.Campaigns)
            {
                <div class="single-products-catagory clearfix">
                    <a href="/@brand.Code/@campaign.Contents">
                        <img src="img/bros-img/@brand.Code/@campaign.Contents/1thumb.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>@brand.Brand</p>
                            <h4>@campaign.Title</h4>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
